# файлы и папки сгенерированные Airflow
logs/*
airflow.cfg
airflow-webserver.pid
standalone_admin_password.txt
webserver_config.py

## Каталоги для плагинов Airflow
#airflow/plugins/

# Каталоги для кеша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы системы macOS
.DS_Store

## Файлы с учетными данными
#.env

# Файлы IDE и редакторов
.idea/
.vscode/
*.iml
*.idea/

# Файлы для виртуального окружения Python
venv/
.venv/
*.venv/